body {
    background: linear-gradient(to right, #F6F6F6 0% 50%, white 50% 0%);
    height: 100vh;
    width: 100vw;
    overflow: hidden
}

h2 {
    font-size: 3rem;
    margin-top: 7rem;
}

#globalScore1, #globalScore2 {
    font-size: 2rem;
    margin-left: 2em;
}

.currentScore1, .currentScore2 {
    margin-bottom: 1em;
    background-color: red; /*Temp color*/
}

.scoreSection {
    position: fixed;
    bottom: 0;
}






